*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* navagation bar styling starts */
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: teal; */
    padding: 20px 0px 20px 0px;
    height: 10vh;
}

#right-side-of-nav{
    display: flex;
}

#right-side-of-nav a{
    color: black;
}

#right-side-of-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px; 
}

#right-side-of-nav ul li{
    list-style-type: none;
    margin-left: 15px;
}

#profile-pic{
    border-radius: 50%;
    width: 2em;
    height: 2em;
    margin-right: 25px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    height: 80vh;
}

#logo{
    width: 15em;
    margin-bottom: 20px;
}

#search-box{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    border-radius: 50px 50px 50px 50px;
    border: 1px solid rgb(231, 227, 227);
    width: 40vw;
    margin-bottom: 20px;
}

#search-box:hover{
    box-shadow: 1px 1px 8px rgb(206, 203, 203);
}


#search-box input{
    padding: 15px 20px 15px 20px;
    width: 80%;
    border: none;
    outline: none;
}

#search-icon{
    font-size: 1.2rem;
    color: gray;
}

#microphone{
    font-size: 1.2rem;
    color: gray;
}


#btn_area{
    padding: 5px;
    height: 20%;
    display: flex;
}

#btn_area button{
    padding:10px;
    border: none;
    border: 1px solid white;
    margin-right: 5px;
}

#btn_area button:hover{
    border: 1px solid gray;
    cursor: pointer;
}

/* footer styling starts  */
footer{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(241, 238, 238);
    height: 10vh;
}

#left-side-of-footer ul{
    display: flex;
}

#left-side-of-footer ul li{
    list-style: none;
    margin-right: 20px;
}

#right-side-of-footer ul{
    display: flex;
    padding-right: 25px;
}

#right-side-of-footer ul li{
    list-style: none;
    margin-left: 20px;
}

a{
    color: gray;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}