*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* navagation bar styling starts */
nav{
    display: flex;
    justify-content: space-between;
    /* background-color: teal; */
    padding: 20px 0px 20px 0px;
    height: 10vh;
}

#left-side-of-nav{
    width: 50%;
    /* background-color: yellow; */
    display: flex;
}

#left-side-of-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; 
}


#left-side-of-nav ul li{
    list-style-type: none;
    margin-left: 15px;
}

#right-side-of-nav{
    width: 50%;
}

#right-side-of-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px; 
}

#right-side-of-nav ul li{
    list-style-type: none;
    margin-left: 15px;
}


#right-side-of-nav ul li button{
    padding: 5px 7px 5px 7px;
    background-color: blue;
    color: white;
    border: none;
    outline: none;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    height: 80vh;
}

main #search-section{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    /* background-color: red; */
}

img{
    width: 80%;
}

input{
    width: 40vw;
    padding: 15px 20px 15px 20px;
    /* background-color: brown; */
    display: flex;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid rgb(231, 227, 227);
    outline: rgb(238, 234, 234);
    margin-bottom: 30px;
    font-weight: bold;
    margin-top: 20px;
}

input:hover{
    box-shadow: 1px 1px 5px rgb(216, 214, 214);
}

footer{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(241, 238, 238);
    height: 10vh;
}

#left-side-of-footer ul{
    display: flex;
}

#left-side-of-footer ul li{
    list-style: none;
    margin-right: 20px;
}

#right-side-of-footer ul{
    display: flex;
    padding-right: 25px;
}

#right-side-of-footer ul li{
    list-style: none;
    margin-left: 20px;
}